* { 
box-sizing : border-box ;
}

body { 
overflow  : hidden ;
line-height: 1.65;

}



  
img.chrome-tab { 
position  : absolute ; 
top : 5 ; 
float : left ; 
height : 30 ;
width : 30 ; 
}




.book_div {
position  : fixed ; 
height : 92% ; 
background-color : white ;
width : 100% ; 
color : #404040 ; 
}

#book_toolbox { 

height : 100% ; 
width  : 25 ; 
float : right ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 3px;
padding : 10 5 ; 
margin  : 3px ; 

}

.slider{
background-color: #005483;
color: #005483 ;  
height: 70%;
left: -1;
width: 8px;
border-radius: 5px   ;
    
}


.previous { 
padding : 0 ; 
width  : 30px ;
position : relative ; 
border: solid 1px #bcbec3;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 4px;
width : 25 ;
height : 25 ;
left : 6 ; 
margin : 6px 0px 0px 0px ; 
}

.next { 
position : relative ; 
border: solid 1px #bcbec3;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 4px;
width : 25 ;
height : 25 ;
left : 6 ; 
}

.sidebar_toggle { 
    padding : 0 ; 
width  : 30px ;
position : relative ; 
border: solid 1px #bcbec3;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 4px;
width : 25 ;
height : 25 ;
left : 6 ; 
margin : 6px 0px 0px 0px ; 
    }
    
    .search_book_loop { 
        padding : 0 ; 
width  : 30px ;
position : relative ; 
border: solid 1px #bcbec3;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 4px;
width : 25 ;
height : 25 ;
left : 6 ; 
margin : 6px 0px 0px 0px ; 
        }
        


#page_input {
font-size : 10px ;
padding : 0 ; 
width  : 30px ;
position : relative ; 
border: solid 1px #bcbec3;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 4px;
width : 25 ;
height : 25 ;
left : 6 ; 
margin : 6px 0px 0px 0px ; 

}

#part_input {
font-size : 10px ;
padding : 0 ; 
width  : 30px ;
position : relative ; 
border: solid 1px #bcbec3;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 4px;
width : 25 ;
height : 25 ;
left : 6 ; 
margin : 6px 0px 0px 0px ; 
}

#single_book_search { 
position :relative ; 
right  : -7 ;
width  : 28px ;
margin-top : 7 ; 
position : absolute ; 
right  : -2 ;
bottom : 45 ;

}

#search_block {
width: 450px ;  
height: 50px ; 
position: absolute ; 
bottom: 40px ; 
right: 30px ; 
background-color: #ffffff ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 5px;
display: none ; 
font-family: "jazeera-regular" ;
z-index:  1 ;
border: solid 1px #949090 ;
}
    
#single_book_search_input {
display: inline ;   
width: 250px  ; 
height: 35px ; 
border-radius: 5px;
border: #929292 0px solid ;  
margin: 5px ; 
background-color: #eaeaea ; 
color: #282727 ; 
}
    
#single_book_search_num { 
display: inline ; 
font-size: 18px ; 
margin: 16px ; 
padding-left:10px ;    
border-left: solid 1px #c7bbbb ;     
}
    
#previous_found , #next_found  { 
display: none ; 
float:left ; 
height: 35px ; 
width: 35px ; 
//border: solid 1px #c7bbbb ;     
margin-top:7px;
}



#close_search { 
font-size : 20px ; 
float : left ; 
margin : 10 ; 
color : #6f6161 ; 
cursor : pointer  ; 
}
#close_search:hover { 
cursor : pointer ; 
transform: translateY(4px);
}
.found_single_word { 
font-weight: 600 ;  
//background-color: #e8e8e8 ; 
//border: solid 1px ;
border-radius: 3px;
color: red ;
//text-decoration: underline #a20b0b;


}


.sidebar {
float : right ; 
width: 100%;
max-width : 20% ; 
height: 95%;
float : right ; 
overflow : hidden ; 
letter-spacing: .01em;
line-height: 1.65;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 5px;
margin :3 0 0 3  ; 
position :relative ; 

}
.toggle_all {
float : left  ; 
width : 25px ; 
}

#sidebar_search_input { 
height: 27px ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 3px;
position: fixed;
width: auto;
bottom: 14px;
color: #282727  ; 
border: solid 1px #aaa3a3 ; 
font-family: "jazeera-regular" ;

}



.activee  {
border :  black solid 1px  ; 
}

.expand_arrow {
border: solid black;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
cursor:pointer;
}
.expand_arrow:hover {
border: solid #0a2458;
border-width: 0 3px 3px 0;
  
}
.circle::before {
content : "" ; 
height: 5px;
width: 5px;
background-color: black;
border-radius: 50%;
display: inline-block;
margin-right : 5px ; 
}


.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
  
.sidebar h1 { 
display : inline-block ; 
font-size: 18px;
font-family : "jazeera-regular" ; 
text-decoration-thickness: .1em ;
padding : 5 ;
margin : 0 ;   
width : 80% ; 
border-bottom : #e9e2e2 0.5px solid ; 
}

h1:hover , h2:hover {
color : #0a2458 ; 
}    

.sidebar h2 { 
font-size: 18 ;
font-weight: 400  ;
font-family : "jazeera-regular" ; 
padding-right : 15px ;
max-width : 80% ; 
border-bottom : #e9e2e2 0.5px solid ; 

}


.sidebar:hover { 
overflow-y : auto ; 
}


.sidebar h1:hover,h2:hover{ 
cursor:pointer;
//text-decoration : underline ; 
border-radius: 3px;
}

.content {
white-space: pre-line		;
width: auto  ; 
height: 70% ;  
line-height: 1.65;
font-size : 30 ; 
font-family : "Naskh"   ; 
overflow-y: auto;
overflow-x : hidden ; 
letter-spacing: .001em;
word-spacing: 1px;
padding : 20 ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 5px;
margin  : 3 3  3 5 ;    
position: relative;
outline : none ;  
  
}

.aya { 
display:  inline  ; 
color: #005483 ;  
}
.bayt {
display: table;
margin: 100  100 -20 0  ;

}
.shatr {
display : inline-block ;     
position: absolute;
right:  40%;
}
  
[data-type="title"] {
//justify-content: center ; 
font-size: 24px;
font-family : "jazeera-regular" ; 
//color : #0a2458 ;   
font-weight : 600 ;  
//border : solid black 1px ;

}


.hashia { 
height:100% ;   
min-height: 120px  ;
max-height: 200px  ;
padding: 10 ; 
overflow-y: auto;
overflow-x: hidden ; 
font-family: "Naskh" ; 
font-size: 24 ; 
line-height: 1.60;
letter-spacing: .01em;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 18px  ; 
}

.hashia::selection , .content::selection {
background-color: #434141 ; 
color : white ; 
}

@font-face {
font-family: "Naskh" ;
src: url("../fonts/Naskh.ttf");
}

@font-face {
font-family: "jazeera-regular";
src: url("../fonts/Al-Jazeera-Regular.woff2");
}

@font-face {
font-family: "andalus"; 
src: url("../fonts/Andalus.ttf");
}  


img:hover  , .bio_img_search:hover , .bio_img:hover , .remove_book:hover {  
cursor : pointer ; 
transform: translateY(4px);
}

img:active {
transform: translateY(8px);
}