#bookmark_window { 
padding : 10px ; 
display : none ; 
width : 90% ; 
margin : 10px 50px 0px 0px  ;  
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
}

#bookmark_table  { 
width : 800px ; 
margin : 30 auto ; 
    
}


#bookmark_table td , #bookmark_table th {  
text-align : right ; 
padding-right : 15px  ;     

}

#bookmark_table td:nth-child(2):hover {
background-color : #e8e8e8 ; 
cursor : pointer ; 
}

.remove_book { 
font-weight : 1000 ; 
}