* { 
  box-sizing : border-box ;
  }
  
  body { 
  overflow  : hidden ;
  line-height: 1.65;

  }
  
  img.chrome-tab { 
  position  : absolute ; 
  top : 5 ; 
  float : left ; 
  height : 30 ;
  width : 30 ; 
  }
  
    

  
  .book_div {
    position  : fixed ; 
      height : 95% ; 
  background-color : white ;
  width : 100% ; 
  color : #404040 ; 
  }
  
  #book_toolbox { 
  
  height : 98% ; 
  width  : 25 ; 
  float : right ; 
  box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
  border-radius: 5px;
  padding : 10 5 ; 
  margin-left  : 3px ; 
  background-color : #f6f6f6 ; 
  }
  
  .slider{
  background-color: #c1c1c1;
  height : 50%;
  left : -1 ; 
  
  }


    .previous { 
    padding : 0 ; 
  width  : 30px ;
  position : relative ; 
  border: solid 1px #bcbec3;
  box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
  border-radius: 3px;
  width : 25 ;
  height : 30 ;
  left : 6 ; 
  margin : 6px 0px 0px 0px ; 
  }

    .next { 
  width  : 30px ;
  position : relative ; 
  border: solid 1px #bcbec3;
  box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
  border-radius: 3px;
  width : 25 ;
  height : 30 ;
  left : 6 ; 
  }

  

  #page_input {
  font-size : 10px ;
  width : 25 ; 
  height : 30 ;
  position : relative ; 
  left : 6 ;   
  box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
  border-radius: 3px;
  border : none ; 
  margin : 5 0 5 0 ;
  font-family : "jazeera-regular" ;
  border: solid 1px #bcbec3;
  margin : 10px 0px 0px 0px ; 

  }

    #part_input {
  font-family : "jazeera-regular" ;
  font-size : 12px ;
  width : 25 ;
  height : 30 ;
  position : relative ; 
  left : 6 ;   
  box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
  border-radius: 3px;
  border : none ; 
  border: solid 1px #bcbec3;
      color : #282727 ; 
  }
  #book_info { 
  position :relative ; 
  right  : -7 ;
  width  : 28px ;
  margin-top : 7 ; 
  position : absolute ; 
  right  : -2 ;
  bottom : 80 ;
  }
  #single_book_search { 
  position :relative ; 
  right  : -7 ;
  width  : 28px ;
  margin-top : 7 ; 
  position : absolute ; 
  right  : -2 ;
  bottom : 45 ;

  }
  
  #search_block {

    width : 450px ;  
    height : 50px ; 
    position : absolute ; 
    bottom : 40px ; 
    right : 30px ; 
    background-color : #ffffff ; 
    box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
    border-radius: 5px;
    display : none ; 
    border :  solid #d5d5d5 1px ;
    font-family : "jazeera-regular" ;
    color : #282727 ; 
    z-index: 1;


  }
  #single_book_search_input {
  display : inline ;   
  width : 250px  ; 
  height : 35px ; 
  border-radius: 5px;
  border : #929292 1px solid ; 
  //padding: 6px 12px 6px 14px;
  margin : 5px ; 
  background-color : #f6f6f6 ; 
  color : #282727 ; 

  }

  #previous_found , #next_found  { 
  display : none ; 
  height : 30px ; 
  width : 30px ; 
  margin :  0px  ; 
  }
  
#single_book_search_num { 
display  : inline ; 
font-size : 18px ; 
margin-right : 16px ; 
}

#close_search { 
font-size : 20px ; 
float : left ; 
margin : 10 ; 
color : #6f6161 ; 
cursor : pointer  ; 
}
#close_search:hover { 
cursor : pointer ; 
   transform: translateY(4px);
}
.found_single_word { 
font-weight: 600 ;  
background-color : #9d9696 ; 
border-radius: 5px;
color : #282727 ; 

}

.sidebar_icon { 
  position : absolute ; 
  right  : -5 ;
  bottom : 15 ;
  width  : 30px ;
}


.sidebar {
  float : right ; 
  width: 100%;
  max-width : 20% ; 
  height: 92%;
  float : right ; 
  overflow : hidden ; 
  padding-right : 0 ; 
  letter-spacing: .01em;
  line-height: 1.65;
  box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
  border-radius: 5px;
  margin :3 0 0 3  ; 
  background-color  : #f6f6f6 ; 
  position :relative ;  
  
  }
  #sidebar_search_input { 
  height : 27px ; 
  border-radius: 5px;
  border : #cfc3c3 1px solid ; 
  //padding: 6px 12px 6px 14px;
  background-color  : #f6f6f6 ; 
  position: fixed;
  width: auto;
  bottom: 10px;
  color : #282727  ; 
  }
  
      
      
      .active  {
  border-radius: 3px;
  background-color : #cdc8c8 ; 
  }



  .sidebar h1 { 
  font-size: 18px;
  text-decoration : underline #d0d1d4  ; 
  text-underline-position: under;
  font-family : "jazeera-regular" ; 
  text-decoration-thickness: .1em ;
  padding-right : 5 ;
    
  }
  
  .sidebar h2 { 
  font-size: 18 ;
  font-weight: 400  ;
  font-family : "jazeera-regular" ; 
  padding-right : 5 ; 
    color : #524c40 ; 
    
  }
  
  
  .sidebar:hover { 
  overflow-y : auto ; 
  }
  
    
  .sidebar h1:hover,h2:hover{ 
  cursor:pointer;
  text-decoration : underline ; 
  //color :white ;    
  //background-color : #1B1C20 ; 
  border-radius: 3px;
  }
 
  .content {
  width: auto ; 
  height: 70% ;  
  line-height: 1.65;
  font-size : 30 ; 
  font-family : "Naskh"   ; 
  overflow-y: auto;
  overflow-x : hidden ; 
    
  
  letter-spacing: .001em;
  word-spacing: 1px;
  padding : 10 ; 
  box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
  border-radius: 5px;
  margin  : 3 3  3 0 ;   
  position: relative;
  outline : none ; 
  }

  .aya { 
display : inline  ; 
color : #282727 ; 
  }

   [data-type="title"] {
  font-family : "jazeera-regular" ; 
  font-size : 18 ; 
  font-weight : 600 ; 
  }

  
  .hashia { 
  height : 100% ;   
  min-height : 120px  ;
  max-height : 200px  ;
  padding : 10 ; 
  overflow-y: auto;
  overflow-x : hidden ; 
  font-family : "Naskh" ; 
  font-size : 24 ; 
  line-height: 1.60;
  letter-spacing: .01em;
  box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
  border-radius: 5px 5px 5px ;
  background-color : #f6f6f6 ; 
    
  }

  .hashia::selection , .content::selection {
     background-color: #434141 ; 
     color : white ; 
     }
  
  @font-face {
    font-family: "Naskh" ;
    src: url("../fonts/Naskh.ttf");
  }
  
     @font-face {
    font-family: "jazeera-regular";
    src: url("../fonts/Al-Jazeera-Regular.woff2");
  }



img:hover  , .bio_img_search:hover , .bio_img:hover , .remove_book:hover {  
cursor : pointer ; 
   transform: translateY(4px);
}

 img:active {
   transform: translateY(8px);
}
