#info_icon { 
width : 30px ; 
height : 30px ; 
position : absolute ; 
bottom : 0px ;
right : 10px  ;
}

#info_window { 
    padding : 10px ; 
    display : none ; 
    width : 90% ; 
    height : 600px ;
    float : right ; 
    margin : 10px 50px 0px 0px  ;  
    box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
    border-radius:16px;
     
    }


    kbd {
        background-color: #eee;
        border-radius: 3px;
        border: 1px solid #b4b4b4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
        color: #333;
        display: inline-block;
        font-size: .85em;
        font-weight: 700;
        line-height: 1;
        padding: 2px 4px;
        white-space: nowrap;
       }
    #scroll{ 

        width: 15px;
        height: 15px;
    }