#b001{ 
width : 100% ; 
height : 100% ; 
font-family : "jazeera-regular" ;
letter-spacing: .02em ;
overflow : scroll ;   
font-weight: 600; 

}

[id="001"] { 
left : 0 ; 
height : 30 ; 
width : 30 ; 
}


#kizana_div_sidebar{ 
position : relative ; 
width : 50 ; 
max-width : 8% ; 
height : 50% ; 
margin : 150 0 0 0   ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;
float : right ; 
}


#main{
height : 90%  ; 
width: 80%;
margin: auto;
padding: 10px;
}

#first_container { 
width : 30% ; 
height : 100% ;
border-right: 1px solid #fff2f2;
position : relative ; 
float : right ; 
padding-right :10 ;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;
}


#first_container_one { 
width : 100% ; 
height : 90% ; 
overflow : hidden ;
margin-top : 15 ;
}


::-webkit-scrollbar {
  width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #e7e1e1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #969393; 
  border-radius: 20px ;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover , ::-webkit-scrollbar-button:hover {
  background: #141212; 
}


/* Buttons */
::-webkit-scrollbar-button
{
  //border-radius: 20px 20px 0 0;
  height: 16px;
  width: 16px;
    background: #969393; 
border-radius: 3px ;

}


/* Up */
::-webkit-scrollbar-button:vertical:decrement
{
  border-width: 7px 7px 14px 7px;
  border-color: transparent transparent #777777 transparent;

}

::-webkit-scrollbar-button:vertical:decrement:hover
{
  border-color: transparent transparent #000000 transparent;

}


/* Down */
::-webkit-scrollbar-button:vertical:increment
{
  border-width: 14px 7px 0 7px;
  border-color: #777777 transparent transparent transparent;

}

::-webkit-scrollbar-button:vertical:increment:hover
{
  border-color: #000000 transparent transparent transparent;
  
}


#second_container { 
border-right: 1px solid #fbecec;
position : relative ; 
width : 60% ; 
height : 100% ; 
float : right ; 
margin-right : 50 ; 
padding-right : 15px ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;

}

#second_container_one {  
border-bottom: 1px solid #ffffff;
margin-bottom : 15 ;
height : 30px ; 
text-align: center;
}

#second_container_two {  
width : 100% ; 
height : 85% ; 
overflow : hidden ; 
}

#first_container_one:hover { 
overflow-y : scroll ; 
}

#second_container_two:hover { 
overflow-y : scroll ; 
}

.categ { 
width : 100%  ; 
font-size : 18 ; 
display : inline-block ; 
border-top : #dadada 1px solid ; 
padding : 5px ; 
font-size : 18 ; 
}

.authors { 
display : inline-block ; 
width : 100%  ; 
font-size : 18 ; 
border-top : #dadada 1px solid ; 
padding-top : 5px ; 
}

#death_date { 
position : relative ; 
color : #969393 ; 
font-size : 12 ; 
}



#author_and_book_number { 
color : #969393 ; 
font-size : 14 ; 
text-align : center ;
}

.books { 
display : inline-block ; 
width : 100%  ; 
font-size : 15 ; 
border-bottom : #ddcfcf 1px solid ; 
font-size : 16 ; 
padding : 5px ;
//overflow: hidden;
//text-overflow: ellipsis;
//white-space: nowrap; 

}

.bio_img  {
float : left ;
position :relative ;  
left : 33 ; 
height : 15 ; 
width : 10 ;
background-color : #e3e1e1 ; 
border : solid 2px #a8a1a1 ;
border-radius : 2px 2px 10px 10px ;
border : solid 1px #958b8b 
    }

.categ:hover , .books:hover ,.authors:hover{ 
cursor:pointer;
background-color  : #eee8e8 ; 
}

#tags1 , #tags2 {
position : absolute ; 
bottom : 5 ; 
border : 1px solid #969393 ;
border-radius: 4px;
font-size: 14;
outline: none;
padding: 6px 12px 6px 14px;
width: 70%;
}


