:root { 
--blue: #1e90ff;
}
#b001{ 
width : 100% ; 
height : 100% ; 
font-family : "jazeera-regular" ;
letter-spacing: .02em ;
overflow : scroll ;   
color : #282727 ; 

}

[id="001"] { 
display : none ;
left : 0 ; 
height : 30 ; 
width : 30 ; 
}


#kizana_div_sidebar { 
position : relative ; 
width : 50px ; 
max-width : 8% ; 
height : 50% ; 
margin : 150 0 0 0   ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:10px;
float : right ; 
}


#kizana_div_sidebar img{ 
width : 50px ; 
} 
#books_window , #authors_window{
height : 90%  ; 
width: 80%;
margin: auto;
padding: 10px;
}

#books_first_block , #authors_first_block { 
width : 30% ; 
height : 100% ;
border-right: 1px solid #fff2f2;
position : relative ; 
float : right ; 
padding-right :10 ;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;
}


#categ_div , #authors_names_div { 
width : 100% ; 
height : 83% ; 
overflow : hidden ;
margin-top : 15 ;
}

#authors_filter { 
float : left ;
position :relative ;  
left : 33 ; 
height : 20 ; 
width : 15 ;
}


::-webkit-scrollbar {
width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: #e1dbdb; 
  
}

/* Handle */
::-webkit-scrollbar-thumb {
//background: #5a4f4f; 
border : 1px solid #5a4f4f ;   
border-radius: 5px  ;

}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover , ::-webkit-scrollbar-button:hover {
background: #918c8c; 
}
*/

/* Buttons */
::-webkit-scrollbar-button
{
border-radius: 5px 5px 5px  5px;
height: 25px;
width: 16px;
border : 1px solid #939191 ; 
background: #e1dbdb; 
}


/* Up */
::-webkit-scrollbar-button:vertical:decrement
{
//border-width: 7px 7px 14px 7px;
//border-color: transparent transparent #777777 transparent;

}

::-webkit-scrollbar-button:vertical:decrement:hover
{
//border-color: transparent transparent #000000 transparent;
}


/* Down */
::-webkit-scrollbar-button:vertical:increment
{
//border-width: 14px 7px 0 7px;
//border-color: #777777 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:increment:hover
{
//border-color: #000000 transparent transparent transparent;
}


#books_second_block , #authors_second_block { 
border-right: 1px solid #fbecec;
position : relative ; 
width : 60% ; 
height : 100% ; 
float : right ; 
margin-right : 50 ; 
padding-right : 15px ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;
}

#categ_info_div , #authors_books_info_div {  
border-bottom: 1px solid #ffffff;
margin-bottom : 15 ;
height : 30px ; 
text-align: center;
}

#categ_books_div , #authors_books_div {  
width : 100% ; 
height : 85% ; 
overflow : hidden ; 
}

#categ_div:hover , #authors_names_div:hover { 
overflow-y : scroll ; 
}

#categ_books_div:hover , #authors_books_div:hover { 
overflow-y : scroll ; 
}

.categ , .authors , .authors_search_block_2{ 
width : 100%  ; 
font-size : 18 ; 
display : inline-block ; 
border-top : #dadada 1px solid ; 
padding : 5px ; 
//font-family : "andalus"
}
.active {
border-right :   3px solid ;   
border-radius : 3px ;   
}
/*.authors , .authors_search_block_2 { 
display : inline-block ; 
width : 100%  ; 
font-size : 18 ; 
border-top : #dadada 1px solid ; 
padding-top : 5px ; 
  
} */
.authors  {
//padding : 5px; 
}  

#death_date { 
position : relative ; 
color : #969393 ; 
font-size : 12 ; 
}

#author_and_book_number { 
height : 40px ; 
color : #969393 ; 
font-size : 14 ; 
text-align : center ;
border-bottom : #ddcfcf 2px solid ; 
padding : 5px ; 

}

.books { 
display : inline-block ; 
width : 100%  ; 
font-size : 15 ; 
border-bottom : #ddcfcf 1px solid ; 
font-size : 16 ; 
padding : 5px ;
//overflow: hidden;
//text-overflow: ellipsis;
//white-space: nowrap; 

}

.bio_img  {
display: none; 
float : left ; 
margin-left: 5px; 
height : 20  ; 
width : 20 ;
background-color : #f5f2f2 ; 
border : solid 1px #a8a1a1 ;
border-radius : 40px ;
left : 40px ; 
position : relative ; 
    
}

.categ:hover , .books:hover ,.authors:hover , .authors_search_block_2:hover{ 
cursor:pointer;
background-color  : #eee8e8 ; 
}
.tags_div {
height : 40px ; 
margin-top : 5px ; 
border-top : #ddcfcf 2px solid ; 
}

    
#tags1 , #tags2 {
position : absolute ; 
bottom : 5 ; 
border-radius: 4px;
outline: none;
padding: 6px 12px 6px 14px;
width: 80%;
height : 30 ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border : none ; 
font-size : 16 ; 


} 





.tippy-content {
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;
background : white ; 
color : black ; 
overflow-y: auto;
//width : 300px ;
max-height: 400px;
font-size: 18px; 
cursor : text ; 
font-family : "Naskh" ;   
}

.tippy-box , .tippy-content {
border-radius: 10px  ;
white-space: pre-line;
}
