#search_main{

}
#search_main{

overflow : hidden ; 
width : 95% ; 
display : flex ;
margin-bottom : 50px ; 
  flex-wrap: wrap;


}

#search_block_1 { 
position: relative;
height : 500px  ;
padding: 10px;
margin: 5px;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;
//width : 400px ; 
flex-basis : 220px ; 
flex-shrink: 0;
flex-grow : 0 ;
}


#first_search_input {
width : 200 ; 
height : 30 ; 
padding: 6px 12px 6px 14px;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 7px;
border : none ; 
font-size : 16 ; 
}

input:focus {
outline: none !important;
border:1px solid #dac1c1 !important;
}


#search_button { 
position : relative ; 
bottom : 0 ; 
width : 30 ; 
height : 30 ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 5px;
border : #ccc0c0 solid 1px  ; 
margin : 5 0  ; 

}



#progress_status {
position : absolute ; 
font-size: 16px ;
bottom : 0 ;   
color : #969393 ; 

}

#search_block_2 { 
 height : 500px ; 
padding: 10px;
margin: 5 0 5 5 ;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;
//width : 400px ; 
flex-basis : 250px ; 
flex-shrink: 0;
flex-grow : 0 ;

}

#search_block_2_div1 { 
height : 30px ; 
}

#search_block_2_div2 { 
height : 400px  ;
overflow : hidden
}

#search_block_2_div3 { 
height : 40px ; 
margin-top : 15px ; 

}


#categ_list { 
display : inline ;
margin : 30px ;  
color : grey ; 
border-left : solid #c1c1c1 1px ; 
padding-left : 30px  ;  
cursor : pointer ; 
}
#author_list { 
color : grey ; 
display : inline ; 
cursor : pointer ; 
}

#books_filter { 
//width : auto ; 
height : 30 ; 
padding: 6px 12px 6px 14px;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 7px;
border : none ; 
font-size : 16 ; 
margin : 3 ; 
display :none ; 

}



#search_block_3 { 
height : 500px  ; 
padding: 10px;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 16px;
margin: 5px;
//border : solid ; 
flex: 1;



}



#search_block_3_div1 { 
overflow-y : scroll ;
height : 435px  ;
}

#search_block_3_div2 { 
margin-top : 15px ;  
}

#second_search_input {
height : 30 ; 
padding: 6px 12px 6px 14px;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 7px;
border : none ; 
font-size : 16 ; 
margin : 3 ;
display : none ;
}

.books_to_search { 
width : 100% ; 
display : inline-block ; 
font-size : 15 ; 
border-top : #ddcfcf 1px solid ; 
font-size : 16 ; 
padding : 5px ; 
}


#search_block_3 img    {
position  : relative ; 
height : 16 ; 
width : 15 ; 
}


.single_book_checkbox { 
float : left ; 
}

input[type="checkbox"]
{
filter: grayscale(1)

}

#search_block_4 { 
width : 100% ; 
}

table {
width : 100% ; 
border-collapse: collapse;
border-radius: 10px;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 16px;
margin-top : 10 ;



}

th { 
background-color : #f6f6f6 ;  
color: #2b2626 ; 
}
td, th {
border: 1px solid #dfdfdf ; 
}
td:nth-child(1) { 
text-align : center ; 
font-size : 12 ;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}


td:nth-child(2) { 
max-width: 800px;
font-size : 14 ; 
padding : 3 ; 
}


td:nth-child(3) {
max-width : 200 ;   
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-size : 13 ; 
}

td:nth-child(5) , td:nth-child(4) {
font-size : 13 ; 
}

.search_table td:nth-child(2):hover , .books_to_search:hover , #bookmark_table td:nth-child(1):hover {
background-color : #e8e8e8 ; 
cursor : pointer ; 

}
.search_table td:nth-child(3):hover , .search_table td:nth-child(2):hover , .search_table td:nth-child(1):hover{
overflow: visible; 
white-space: normal;
height:auto;  /* just added this line */

}



/*td:nth-child(2) [data-type="title"] {
font-family : "jazeera-bold" ; 
font-size : 12 ; 
}
*/

#checkall_categ , #checkall_books{
float:  left;
margin  :  0 0 8 15 ; 
}

#found_word { 
font-weight: 600 ;  
background-color : #efeaea ; 
border-radius : 8px ; 

}

#search_block_2_div2:hover , #search_block_3_div1:hover  { 
overflow-y : scroll ; 
}


