#kizana_div_sidebar{ 
width : 50 ; 
max-width : 8% ; 
height : 50% ; 
margin : 150 0 0 0   ; 
background-color : white ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;
float : right ; 
}

#search_main{

width : 90% ; 
margin : auto ; 
display : none ; 
//border : solid 1px black ;
margin-bottom : 50px ; 
}

#search_window_0 { 
position: relative;
height : 100px  ;
width: 250;
padding: 10px;
margin: 5px;
overflow : hidden ;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;
float : right ; 
}


#first_search_input {
width : 230 ; 
height : 30 ; 
padding: 6px 12px 6px 14px;

box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 7px;
border : none ; 
font-size : 16 ; 
//caret-color : transparent ;


}

input:focus {
outline: none !important;
border:1px solid #dac1c1 !important;
//box-shadow: 0 0 10px #719ECE; 
}


#search_button { 
position : relative ; 
bottom : 0 ; 
width : 30 ; 
height : 30 ; 
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 5px;
border : #ccc0c0 solid 1px  ; 
margin : 5 0  ; 
float : left ; 
}



#progress_status {
position : absolute ; 
font-size: 16px ;
bottom : 0 ;   
color : #969393 ; 

}

#search_window_1 { 
height : 510px  ; 
width: 250; 
padding: 10px;
margin: 5 0 5 5 ;
overflow : hidden ;
float : right ;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius:16px;
}


#second_search_input {
width : 500px ; 
height : 30 ; 
padding: 6px 12px 6px 14px;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 7px;
border : none ; 
font-size : 16 ; 
margin : 3 ; 
}


#search_window_2 { 
height : 475px  ; 
width : auto ; 
padding: 10px;
overflow : hidden ;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 16px;
margin: 5px;

}



.books_to_search { 
width : 100% ; 
display : inline-block ; 
font-size : 15 ; 
border-top : #ddcfcf 1px solid ; 
font-size : 16 ; 
padding : 5px ; 
}


#search_window_2 img    {
position  : relative ; 
height : 16 ; 
width : 15 ; 
}


.single_book_checkbox { 
float : left ; 

}

input[type="checkbox"]
{
filter: grayscale(1)

}

table {
width : 100% ; 
border-collapse: collapse;
overflow : hidden ; 
border-radius: 10px;
box-shadow:0 0 1.11111vw rgba(50,50,93,.25),0 0 .34722vw rgba(77,77,77,.1) ;
border-radius: 16px;
margin-top : 10 ;



}

th { 
background-color : #dee1e6 ; 
color: #2b2626 ; 
}
td, th {
border: 1px solid #dfdfdf ; 
}
td:nth-child(1) { 
text-align : center ; 
font-size : 12 ;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}


td:nth-child(2) { 
max-width: 800px;
font-size : 14 ; 
padding : 3 ; 
}


td:nth-child(3) {
max-width : 200 ;   
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-size : 13 ; 
}

td:nth-child(5) , td:nth-child(4) {
font-size : 13 ; 
}

.search_table td:nth-child(2):hover , .books_to_search:hover , #bookmark_table td:nth-child(1):hover {
background-color : #e8e8e8 ; 
cursor : pointer ; 

}
.search_table td:nth-child(3):hover , .search_table td:nth-child(2):hover , .search_table td:nth-child(1):hover{
overflow: visible; 
white-space: normal;
height:auto;  /* just added this line */

}



/*td:nth-child(2) [data-type="title"] {
font-family : "jazeera-bold" ; 
font-size : 12 ; 
}
*/

#checkall_categ , #checkall_books{
float :  left  ; 
margin  :  0 0 8 15 ; 
}

#found_word { 
font-weight: 600 ;  
background-color : #efeaea ; 
border-radius : 8px ; 

}

#search_window_1:hover , #search_window_2:hover  { 
overflow-y : scroll ; 
}


